<!-- {{template "base.html"}} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/home.css" />
    <title>Short Link</title>
  </head>
  <body>
    <div class="home-title-container">
      <h3 class="home-title">Short Link</h3>
      <p>Shorten your URLs here.</p>
    </div>
    <!-- <div class="form-container">
      <form action="/submit-url" method="POST">
        <label for="url">URL:</label>
        <input type="url" id="url" name="url" required />
        <button type="submit">Submit</button>
      </form>
    </div> -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg p-4 form-container">
            <h2 class="text-center text-primary mb-4">Submit a URL</h2>
            <form action="/shorten-url" method="POST">
              <div class="mb-3">
                <label for="url" class="form-label">Enter URL:</label>
                <input
                  type="url"
                  id="url"
                  name="url"
                  class="form-control"
                  placeholder="https://example.com"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary w-100">
                Submit
              </button>
              {{ if .shortenedURL }}
              <div class="mt-4 alert alert-success">
                <p><strong>Original URL:</strong> {{ .originalURL }}</p>
                <p>
                  <strong>Shortened URL:</strong>
                  <a href="{{ .shortenedURL }}" target="_blank" rel="noreferrer"
                    >{{ .shortenedURL }}</a
                  >
                </p>
              </div>
              {{ end }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
